<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:15%;"><span class="sort" data-sort="name">Company</span></th>
			<th style="width:8%;"><span class="sort" data-sort="type">Type</span></th>
			<th style="width:17%;"><span class="sort" data-sort="hq">Location</span></th>
			<th style="width:5%;"><span class="sort" data-sort="employees">Size</span></th>
			<th style="width:20%;"><span class="sort" data-sort="dataset">Dataset</span></th>
			<th style="width:15%;"><span class="sort" data-sort="category">Category</span></th>
			<th style="width:20%;"><span class="sort" data-sort="tags">Tags</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for post in site.posts %}
		<tr>
			<td class="name"><a href="{{ post.url }}">{{ post.company }}</a></td>
			<td class="type">{{ post.company-type }}</td>
			<td class="hq">{{ post.company-hq }}</td>
			<td class="employees">{{ post.company-employees }}</td>
			<td class="dataset"><a href="{{ post.dataset-url }}">{{ post.dataset }}</a></td>
			<td class="categories">{{ post.categories | array_to_sentence_string }}</td>
			<td class="tags">{{ post.tags | array_to_sentence_string }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>


<script type="text/javascript">

var options = {
  valueNames: ['name', 'type', 'hq', 'employees', 'dataset', 'categories', 'tags']
};

var entryList = new List('entry-list', options);

</script>
