<!DOCTYPE html>
<html>
<head> {% include head.html %} </head>
<body style>

<div class="container">

<h1>{{page.company}}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:15%"><b>Key</b></th>
      <th style="width:85%"><b>Value</b></th>
    </tr>
  </thead>
  <tr>
    <td><b>Tags</b></td>
    <td>{{ page.tags | array_to_sentence_string }}</td>
  </tr>
  <tr>
    <td><b>Website</b></td>
    <td>{{page.company-url}}</td>
  </tr>
  <tr>
    <td><b>Headquarters</b></td>
    <td>{{page.company-hq}}</td>
  </tr>
  <tr>
    <td><b>Country</b></td>
    <td>{{page.company-country}}</td>
  </tr>
  <tr>
    <td><b>Type</b></td>
    <td>{{page.company-type}}</td>
  </tr>
  <tr>
    <td><b>Founded</b></td>
    <td>{{page.company-founded}}</td>
  </tr>
  <tr>
    <td><b>Employees</b></td>
    <td>{{page.company-employees}}</td>
  </tr>
  <tr>
    <td><b>Category</b></td>
    <td>{{ page.categories | array_to_sentence_string }}</td>
  </tr>
</table>

<h3>Dataset</h3>

<table class="table">
  <tr>
    <td><b>Dataset</b></td>
    <td>{{ page.dataset }}</td>
  </tr>
  <tr>
    <td><b>URL</b></td>
    <td>{{ page.dataset-url }}</td>
  </tr>
  <tr>
    <td><b>Use</b></td>
    <td>{{ page.dataset-use }}</td>
  </tr>
</table>

{{ content }}

</div>

  
</body>
</html>
