<!DOCTYPE html>
<html>
<head> {% include head.html %} </head>
<body style>

<div class="container">

<h1>{{page.company}}</h1>
<h3>{{ page.tags | array_to_sentence_string }}</h3>

<table class="table table-striped">
  <tr>
    <td><b>Website</b></td>
    <td>{{page.company-url}}</td>
  </tr>
  <tr>
    <td><b>Headquarters</b></td>
    <td>{{page.company-hq}}</td>
  </tr>
  <tr>
    <td><b>Country</b></td>
    <td>{{page.company-country}}</td>
  </tr>
  <tr>
    <td><b>Type</b></td>
    <td>{{page.company-type}}</td>
  </tr>
  <tr>
    <td><b>Founded</b></td>
    <td>{{page.company-founded}}</td>
  </tr>
  <tr>
    <td><b>Employees</b></td>
    <td>{{page.company-employees}}</td>
  </tr>
  <tr>
    <td><b>Category</b></td>
    <td>{{ page.categories | array_to_sentence_string }}</td>
  </tr>
</table>

{{ content }}

</div>

  
</body>
</html>
